* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: rgb(108, 167, 26);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoBox {
  display: flex;
  align-items: center;
}
.logoBox h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.logo {
  height: 50px;
  width: 50px;
  margin: 10px;
}
.bar {
  height: 50px;
  width: 2px;
  background-color: rgb(77, 77, 77);
  margin-left: 10px;
}
.drops {
  font-size: larger;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  margin-left: 8px;
  gap: 9px;
}
.searchbar {
  display: flex;
  height: 30px;
  border-radius: 5px;
  width: 40%;
  align-items: center;
  background-color: rgb(108, 167, 26);
  box-shadow: 0px 1px 2px rgb(70, 70, 70);
  padding: 5px;
}
.searchbar img {
  height: 25px;
  width: 25px;
}
.searchinput {
  background-color: rgb(108, 167, 26);
  border: none;
  margin-left: 10px;
  color: rgb(228, 228, 228);
  font-size: 16px;
}
::placeholder {
  color: rgb(219, 219, 219);
  opacity: 1; /* Firefox */
}
input[type="text"] {
  width: 100%;
  height: 70%;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.paymentbar {
  display: flex;
  height: 30px;
  border-radius: 5px;
  width: 13%;
  align-items: center;
  background-color: rgb(108, 167, 26);
  box-shadow: 0px 1px 2px rgb(70, 70, 70);
  padding: 5px;
  justify-content: space-evenly;
}
.paymentbar p {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
.Paymentbar {
  height: 30px;
  width: 2px;
  background-color: rgb(77, 77, 77);
}
.cartbar {
  height: 30px;
  border-radius: 5px;
  align-items: center;
  background-color: rgb(108, 167, 26);
  box-shadow: 0px 1px 2px rgb(70, 70, 70);
  padding: 5px;
  margin-right: 20px;
}
